<h1>Recipe-Ingredients</h1>

<br>

<% @recipe_ingredients.each do |recipe_ingredient| %>
  <h2><%= link_to recipe_ingredient.recipe.name, recipe_ingredient.recipe %> - <%= link_to recipe_ingredient.ingredient.name, recipe_ingredient.ingredient %></h2>
<% end %>

<br>

<%= link_to "Create New Recipe-Ingredient", new_recipe_ingredient_path %>
