<h1>Ingredients</h1>

<br>

<% @ingredients.each do |ingredient| %>
  <h2><%= link_to ingredient.name, ingredient %> -- <%= ingredient.allergies.count %> users are allergic</h2>
<% end %>

<br>

<%= link_to "Create New Ingredient", new_ingredient_path %>
